* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar {
    background-color: #368ECF;
    color: #fff;
}
.main-content {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: blanchedalmond;
}
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #fff;
    padding: 5px 30px;

}
.user {
    display: flex;
    align-items: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: flex-end;
    gap: 10px;
}

.row {
    display: grid;
    /* justify-content: auto; */
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.right {
    display: flex;
}
.buttons {
    justify-self: flex-end;
}
.welcome {
    display: flex;
    align-items: center;
}