* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto';
}
ul {
    list-style: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 7fr;
    /* height: 100vh; */
    /* width: 100vw; */
}
.sidebar {
    /* height: 100%; */
    background-color: #368ECF;
    grid-column: 1/2;
    grid-row: 1/3;
    color: #fff;
    /* grid-template-rows: 1fr; */
    padding-left: 30px;
    padding-top: 10px;
    /* dissplay: grid; */
}
.sidebar .title {
    display: flex;
    /* margin-bottom: 30px; */
    column-gap: 15px;
    align-items: center;
}
.sidebar ul {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebar li {
    display: flex;
    /* margin-top: 15px; */
    column-gap: 30px;
    align-items: center;
    /* display: grid; */
}
.sidebar p {
    font-size: 1.25rem;
    font-weight: 500;
}
.header {
    display: grid;
    grid-template-rows: fit-content 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #fff;
    padding: 5px 50px;
/* height: fit-content; */
}

.search {
    display: flex;
    gap: 10px;
    align-items: center;
grid-template-columns: 1fr 1fr;
}
.search input[type="text"] {
    background-color: #E1E7EF;
    border: none;
    width: 100%;
    border-radius: 20px;
    height: 40px;
    font-size: 1.2rem;
    padding-left: 10px;
}
.user {
    display: flex;
    align-items: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: flex-end;
    gap: 30px;
    /* font-size: 0.8rem; */
    font-weight: 600;
}
.welcome {
    display: flex;
    align-items: center;
    gap: 10px;
}
.small {
    font-size: 1rem;
    display: block;
    font-weight: 500;
}
.buttons {
    justify-self: flex-end;
    display: flex;
    gap: 20px;
}
.buttons button {
    background-color: #368ECF;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    /* font-size: 0.7rem; */
    font-weight: 600;
    font-size: 0.8rem;
}
.main-content {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: fit-content 1fr;
    display: grid;
    /* height: fit-content; */
    padding: 60px 20px 60px;
    background-color: #E1E7EF;
    column-gap: 20px;
    /* gap: 20px; */
}
.main-content>p {
    margin-top: 0;
    margin-bottom: 0px;
    grid-row: 1/2;
    /* height: fit-content; */
    justify-self: baseline
}
.main-content>h2 {
    margin-bottom: 10px;
}
.right {
display: flex;
grid-template-rows: 1fr 1fr;
/* height: fit-content; */

flex-direction: column;
/* row-gap: 40px; */
grid-row: 2/3;
}
.projects {
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
    /* height: fit-content; */
    row-gap: 40px;
    column-gap: 30px;
}
.card {
    background-color: #fff;
    display: flex;
    grid-template-rows: 2fr 1fr;
    row-gap: 30px;
    /* width: 350px;
    height: 200px; */
    flex-direction: column;
    justify-content: space-between;
    /* font-size: 0.65rem; */
    border-left: 10px solid #EAB440;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 40px 30px 40px;
}
.card-body p {
color: gray;
}
.card-footer {
    font-size: 0.9rem;
    display: flex;
    /* height: fit-content; */
    justify-self: right;
    align-self: flex-end;
    gap: 30px;
}
.announcements {
    border-radius: 5px;
    background-color: #fff;
  /* font-size: 0.65rem; */
  /* width: 200px; */
  padding: 20px;
  /* height: fit-content; */
  margin-bottom: 40px;
}

.announcements li {
    border-bottom: 1px solid black;
    padding: 20px;
}
.announcements li:last-child {
border: none;
}
.announcements li p:first-child {
    font-weight: 600;
}
.announcements li p:last-child {
    color: gray;
}
.trending {
    border-radius: 5px;
    /* width: 200px; */
    background-color: #fff;
    /* font-size: 0.65rem; */
    /* height: fit-content; */
    padding: 30px 20px 20px 20px;
}
.trending-title {
    margin-bottom: 10px;
}
.trending ul {
    /* padding: 30px; */
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.trending li {
/* margin-bottom: 15px; */
/* column-gap: 5px; */
display: flex;
gap: 30px;
align-items: center;
/* grid-template-columns: auto 1fr; */
grid-template-rows:  1fr 1fr;
}
.trending li p {
    grid-column: 2/3;
}
.trending li:last-child {
    margin-bottom: 0;
}
.trending li img {
    grid-row: 1/3;
    align-self: center;
}
.trending li p:last-child {
color: gray;
}