* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto';
}
.container {
    display: grid;
    grid-template-columns: 200px 3fr;
}
.sidebar {
    background-color: #368ECF;
    /* grid-column: 1/2; */
    color: #fff;
    padding-left: 15px;
    padding-top: 10px;
    display: grid;
}
.sidebar .title {
    display: flex;
    /* margin-bottom: 30px; */
    column-gap: 15px;
}
.sidebar ul {
    margin-top: 30px;
    list-style: none;
}
.sidebar ul li {
    display: flex;
    margin-top: 15px;
    column-gap: 10px;
    /* display: grid; */
}
.main-content {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 100px 1fr;
    background-color: blanchedalmond;
}
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #fff;
    padding: 5px 30px;

}
.search {
    display: flex;
    gap: 10px;
    /* align-items: center; */
grid-template-columns: 1fr 1fr;
}
.search input[type="text"] {
    background-color: #E1E7EF;
    border: none;
    width: 75%;
    border-radius: 20px;
    height: 20px;
}
.user {
    display: flex;
    align-items: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: flex-end;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 600;
}
.welcome {
    display: flex;
    align-items: center;
    gap: 10px;
}
.small {
    font-size: 0.6rem;
    display: block;
    font-weight: 500;
}
.buttons {
    justify-self: flex-end;
    display: flex;
    gap: 20px;
}
.buttons button {
    background-color: #368ECF;
    color: #fff;
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 0.7rem;
    font-weight: 500;
}
.projects {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
}
.card {
    width: 200px;
    font-size: 0.8rem;
}
